.delete {
  background: #ddd;
  padding: .48rem .96rem;
  line-height: 1;
  border: 1px solid transparent;
  font-size: 1.4rem;
  font-family: var(--type-first);
  cursor: pointer;
  border-radius: .64rem;
  transition: .2s;
}

.delete:focus,
.delete:hover {
  outline: none;
  background: white;
  box-shadow: 0 0 0 3px #eee;
  border-color: #333;
}