.wrapper {
  margin-bottom: 1.6rem;
}

.input {
  border: 1px solid #eee;
  display: block;
  width: 100%;
  font-size: 1.6rem;
  padding: 1.28rem;
  border-radius: .64rem;
  background: #eee;
  transition: .2s;
}

.input:focus,
.input:hover {
  outline: none;
  border-color: #fb1;
  background: white;
  box-shadow: 0 0 0 3px #fea;
}

.label {
  display: block;
  font-size: 1.6rem;
  line-height: 1;
  padding-bottom: .8rem;
}

.error {
  color: #f31;
  font-size: 1.4rem;
  margin-top: .4rem;
}
